.comment{
    display: flex;
    background-color: var(--inputColor);
    border-radius: 10px;
    flex-direction: column;
    gap: 0.4rem;
    height: 8rem;
    padding: 15px;
    overflow-y: scroll;
}
.commenter {
    display: flex;
    gap: 1rem;
    width: 100%;
    

}
.commenter .secondchild{
    display: flex;
    justify-content: start;

    flex-direction: column;
    width: 100%;
    word-break: break-all;
}
.commenter .secondchild >span{
    font-weight: bold;
}
.commentImage {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
}