.Home{
    position: relative;
    display: grid;
    grid-template-columns: 18rem auto 20rem;
    gap:1rem
}
.navIcon{
    display: none;
}

@media (max-width:768px) {

    .Home{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .navIcon{
        display: block;
    }
    
}