.Profile{
    position: relative;
    display: grid;
    gap: 1rem;
    grid-template-columns: 18rem auto 20rem;
}
.Profile-center{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    gap: 1rem;
}
.Profile .navIcon{
    display: none;
}


@media (max-width:768px) {

    .Profile{
        display: flex;
        flex-direction: column;
    }
    .Profile .navIcon{
        display: block;
    }
    
}